@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Shantell+Sans:ital@0;1&display=swap');
* {    
  box-sizing: border-box;         
  }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;      
  }
  
body {
  font-family:'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #464952;
  background-image: url("../images/quiz.jp");    
  margin: 0;
  padding: 0;        
  }

  h1, h2, h3, h4 {
    margin-bottom: 1.2rem;
  }
  h1 {
    font-size: 5.2rem;
    color:#ffffff;
    margin-bottom: 5rem;
  }
  h1 > span {
    font-size: 2.2rem;
    font-weight: 500;
  }
  h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 2.6rem;
    font-weight: 500;
  }
  .box {
    width: 100%;
    max-width: 90rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /* Footer section */

  #footer {
  background-color: #343841;
  height: 10rem;
  width: 100%;  
  color: #ffffff;
  padding: 2rem;
  text-align:center;
  margin: 0;     
 }

 #footer a {
  text-decoration: none;
  color:#ffffff;
 }

 #footer a:hover {
  text-transform: uppercase;
 }