@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Shantell+Sans:ital@0;1&display=swap');
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;      
  }
  
body {
  font-family:'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #444444;
  background-image: url("../images/quiz.jpg");    
  margin: 0;
  padding: 0;        
  }